.backdrop {
  align-items: end;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  min-width: 0;
  padding-bottom: 20px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}

.dialog {
  background-color: #9a9a9a;
  display: flex;
  flex-direction: column;
  height: 220px;
  position: relative;
  width: 396px;
  pointer-events: auto;

  label {
    display: block;
  }
}
